body{
    background-color: #f5dcf1;
}
.image{
    margin: 10px;
    max-width: 577px;
}
.image label{
    display: block;
    cursor: pointer;
    text-align: center;
}
input{
    margin: 5px;
    padding: 6px;
}
button{
    padding: 6px 8px;
    margin: 9px;
    font-size: medium;
}
button[type="submit"]{
    display: block;
    margin: 5px 16px;
    padding: 5px 14px;
    font-size: medium;
}
.text .here{
    cursor: pointer;
    margin: 50px 10% 5px 0;
    border: 5px solid black;
    padding: 5px;
    width: fit-content;
    block-size: fit-content;

}
div{
    margin: 24px 0;
}
.proimg{
    background-color: #c1accc;
}
.divcols input{
    border-radius: 50px;
}
