@import url("../style.css");

.listProduct .item h2 {
    font-weight: 500;
    font-size: medium;
}
.listProduct #item52 p{
    margin-bottom: -5px;
}

.listProduct #item52 h2 {
    font-weight: 500;
    font-size: medium;
    margin-bottom: -5px;
}