@import url(../static/css/index.css);

main{
    display: flex;
    margin-top: 125px;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}
main ol{
    direction: rtl;
}
main li{
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: #e26666;
    font-size: 2em;
    margin: 1em 1rem;
}
body{
    height: auto;
}

main a{
    background-color:rgb(246 163 163);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 21px;
    font-size: 1.5em;
}

main li:nth-child(7){
    margin-bottom: 138px;
}

@media(max-width:846px){
main a{
    font-size: 1.2em;
}
}

@media(max-width:770px){
    main a{
        font-size: 1em;
        height: fit-content;
        display: inline-block;
    }
    main img{
        width: 40%;
    }
}

@media(max-width:620px){
    h1 {
        font-size: 1.5em;
    }
    main li {
        font-size: 17px;
    }
    main img {
        width: 48%;
    }
    main{
        gap: 17px;
    }
}

@media(max-width:400px){
main{
    flex-direction: column-reverse;
}
main img {
    width: 86%;
    margin: 7%;
}
main a{
    height: fit-content;
    display: inline-block;
    margin-left: 21px;
}

}